<div style='color:red'>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
</div>

<%= form_tag(controller: 'home', action: 'get_tweets') do %>
  <p>
    <%= label_tag "Handle:" %><br>
    <%= text_field_tag :handle %>
  </p>
  <p>
    <%= submit_tag "Get Tweets"%>
  </p>
<% end %>

<ul>
<% @tweets.each do |tweet| %>
  <li>
    <%= tweet.text %>
  </li>
<% end %>
</ul>